.features-split {
	display: flex;
	align-items: center;
	// height: 100vh;
	// background-image: url(../../../images/whyNowSection.svg);
	background-repeat: no-repeat;
	background-size: cover;
	color: color(heading);
	.section-inner {
		padding-top: $features-split--padding-t__mobile;
		padding-bottom: $features-split--padding-b__mobile;
	}
}

@include media( '>medium' ) {

	.features-split {

		.section-inner {
			padding-top: $features-split--padding-t__desktop;
			padding-bottom: $features-split--padding-b__desktop;
		}
	}
}
